In [1]:
import nltk
import pandas as pd
import re
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()
import sklearn
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import MultinomialNB

In [2]:
data=pd.read_csv('Restaurant_Reviews.tsv',delimiter='\t',quoting=3)

In [3]:
data.head()

                                              Review  Liked
0                           Wow... Loved this place.      1
1                                 Crust is not good.      0
2          Not tasty and the texture was just nasty.      0
3  Stopped by during the late May bank holiday of...      1
4  The selection on the menu was great and so wer...      1

# A helper function for cleaning text of numbers and other characters.

In [4]:
def app(sent):
    sent=re.sub('[^a-zA-z]',' ',sent)
    sent=sent.lower()
    sent=sent.split()
    sent=[ps.stem(word) for word in sent if word not in stopwords.words('english')]
    sent=' '.join(sent)
    return sent

In [5]:
data['Review']=data['Review'].apply(app)

In [6]:
data.head()

                                              Review  Liked
0                                     wow love place      1
1                                         crust good      0
2                                 tasti textur nasti      0
3  stop late may bank holiday rick steve recommen...      1
4                            select menu great price      1

In [7]:
X=data['Review']
Y=data['Liked']

# Convert text to bag of words as features. Where the frequency of each word is a feature , ngram 2 takes every possible combination of 2 words and also adds that as a feature

In [8]:
cr=TfidfVectorizer(max_features=1000,ngram_range=(1, 2))
X=cr.fit_transform(X).toarray()

In [9]:
X.shape

(1000, 1000)

In [10]:
xtrain,xtest,ytrain,ytest=train_test_split(X,Y)

In [11]:
br=MultinomialNB()
br.fit(xtrain,ytrain)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [12]:
br.score(xtest,ytest)

0.804

In [13]:
br.score(xtrain,ytrain)

0.9293333333333333